# 데이터 로딩

In [1]:
df1 = pd.read_csv("~/hosthome/1_data/all1.csv")

/home/dockeruser/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (5,7,11,14,18) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
df1.columns

Index([u'Unnamed: 0', u'Unnamed: 0.1', u'accommodates', u'bathrooms',
       u'bedrooms', u'borough', u'city', u'country', u'host_id',
       u'last_modified', u'latitude', u'location', u'longitude', u'minstay',
       u'name', u'neighborhood', u'overall_satisfaction', u'price',
       u'property_type', u'reviews', u'room_id', u'room_type', u'survey_id'],
      dtype='object')

# 컬럼 버림

In [3]:
df1 = df1.drop(['Unnamed: 0', 'Unnamed: 0.1', 'bathrooms', 'borough', 'country',
       'last_modified', 'latitude', 'location', 'longitude', 'minstay',
       'name', 'neighborhood', 'property_type', 'survey_id'], axis=1)

In [5]:
pd.options.display.max_rows = 2000000
df1['city'] = df1.city.str.lower()
df1["city"].value_counts()

new_york                 164607
paris                    157938
los_angeles              123413
london                    88361
rome                      67043
san_francisco             44152
new york                  40733
tuscany                   38783
toronto                   38335
miami                     37100
montreal                  35555
veneto                    32366
lisbon                    30103
sydney                    29426
philadelphia              28424
washington                27626
san_diego                 24374
seoul                     22413
switzerland               22104
vancouver_bc              21306
oahu                      20657
seattle                   19458
new_orleans               17590
portland                  13297
madrid                    12615
sri lanka                 11568
iceland                   11248
moscow                    10374
nice                       9604
lyon                       9494
reykjavik                  9096
vienna                     7790
singapore                  6828
versailles                 6003
venice                     5801
las vegas                  5520
porto                      4729
hungary                    4507
ottawa                     4373
palermo                    4086
nashville                  4067
warsaw                     3389
tallin                     3176
turin                      3092
wellington                 2616
newhaven_ct                1958
victoria_bc                1791
jersey city                1647
york                       1206
queenstown                 1205
prince georges county      1135
peel                        927
zurich                      912
pittsburgh                  892
lincoln county              878
saint lucia                 761
savannah                    752
richmond bc                 531
portland_me                 456
newhaven ct                 420
santa barbara               359
kitchener waterloo          349
kitchener_waterloo          282
joshua tree                 160
yellowknife                  93
newport                      83
Name: city, dtype: int64

# 분석에 필요한 7개 도시 제외 데이터 드롭

In [6]:
df1 = df1[(df1['city'] == 'new_york') | (df1['city'] == 'paris') | (df1['city'] == 'los_angeles') | (df1['city'] == 'london') |
        (df1['city'] == 'rome') | (df1['city'] == 'new york') | (df1['city'] == 'seoul') | (df1['city'] == 'singapore')]

In [7]:
df1["city"].value_counts()

new_york       164607
paris          157938
los_angeles    123413
london          88361
rome            67043
new york        40733
seoul           22413
singapore        6828
Name: city, dtype: int64

In [8]:
df1.head()

,accommodates,bedrooms,city,host_id,overall_satisfaction,price,reviews,room_id,room_type
54694,1.0,1.0,london,36478522.0,4.0,67.0,5.0,8000111,Private room
54695,2.0,1.0,london,35573342.0,5.0,142.0,12.0,6801173,Entire home/apt
54696,2.0,1.0,london,5146739.0,4.0,75.0,3.0,6210911,Private room
54697,2.0,1.0,london,4491665.0,5.0,209.0,29.0,1508737,Entire home/apt
54698,1.0,1.0,london,3518455.0,4.5,75.0,33.0,688990,Private room

In [13]:
df1.to_csv("~/hosthome/1_data/all1_new.csv")