# 데이터프레임 파일 로딩

In [1]:
df1 = pd.read_csv("~/hosthome/1_data/all1_new.csv")

In [2]:
df2 = pd.read_csv("~/hosthome/1_data/all2_new.csv")

In [3]:
df3 = pd.read_csv("~/hosthome/1_data/all3_new.csv")

In [4]:
df4 = pd.read_csv("~/hosthome/1_data/all4_new.csv")

In [5]:
df5 = pd.read_csv("~/hosthome/1_data/all5_new.csv")

# concat 으로 파일 병합

In [6]:
df = pd.concat([df1, df2, df3, df4, df5])

In [7]:
df.head()

,Unnamed: 0,accommodates,bedrooms,city,host_id,overall_satisfaction,price,reviews,room_id,room_type
0,54694,1.0,1.0,london,36478522.0,4.0,67.0,5.0,8000111,Private room
1,54695,2.0,1.0,london,35573342.0,5.0,142.0,12.0,6801173,Entire home/apt
2,54696,2.0,1.0,london,5146739.0,4.0,75.0,3.0,6210911,Private room
3,54697,2.0,1.0,london,4491665.0,5.0,209.0,29.0,1508737,Entire home/apt
4,54698,1.0,1.0,london,3518455.0,4.5,75.0,33.0,688990,Private room

In [8]:
df['city'].value_counts()

new_york       882803
paris          701945
los_angeles    559208
london         521224
rome           289675
seoul           97592
new york        80478
singapore       36605
los angeles     30696
Name: city, dtype: int64

# 병합 기준 벡터 삭제

In [10]:
df = df.drop(["Unnamed: 0"], axis=1)

In [11]:
df.head()

,accommodates,bedrooms,city,host_id,overall_satisfaction,price,reviews,room_id,room_type
0,1.0,1.0,london,36478522.0,4.0,67.0,5.0,8000111,Private room
1,2.0,1.0,london,35573342.0,5.0,142.0,12.0,6801173,Entire home/apt
2,2.0,1.0,london,5146739.0,4.0,75.0,3.0,6210911,Private room
3,2.0,1.0,london,4491665.0,5.0,209.0,29.0,1508737,Entire home/apt
4,1.0,1.0,london,3518455.0,4.5,75.0,33.0,688990,Private room

In [12]:
df.count()

accommodates            3100629
bedrooms                3106755
city                    3200226
host_id                 3199355
overall_satisfaction    2424453
price                   3200130
reviews                 3191146
room_id                 3200226
room_type               3199174
dtype: int64

# 각 열 내 NaN 값을 가진 데이터 삭제

In [13]:
df = df.dropna(subset=["accommodates"])

In [14]:
df = df.dropna(subset=["bedrooms"])

In [15]:
df = df.dropna(subset=["city"])

In [16]:
df = df.dropna(subset=["overall_satisfaction"])

In [17]:
df = df.dropna(subset=["price"])

In [18]:
df = df.dropna(subset=["reviews"])

In [19]:
df = df.dropna(subset=["room_type"])

In [20]:
df.count()

accommodates            2308868
bedrooms                2308868
city                    2308868
host_id                 2308868
overall_satisfaction    2308868
price                   2308868
reviews                 2308868
room_id                 2308868
room_type               2308868
dtype: int64

In [21]:
df.to_csv("~/hosthome/1_data/all_new.csv")