In [6]:
import pandas as pd
import numpy as np
from airbnbcrawler import crawler
import time

(1, 'Average 4.5 out of 5 stars')
(2, 'Average 4.5 out of 5 stars')
(3, 'Average 4.5 out of 5 stars')
(4, 'Average 4.5 out of 5 stars')
(5, 'Average 5 out of 5 stars')
(6, 'Average 4.5 out of 5 stars')
Average 4.5 out of 5 stars from 50 guest reviews
ordinary
ordinary

In [1]:
apath = '~/hosthome/1_data/data.csv #데이터 경로명 입력

SyntaxError: EOL while scanning string literal (<ipython-input-1-ef09c8e8f12b>, line 1)

In [2]:
df = pd.read_csv('~/hosthome/1_data/data.csv')
df = df.drop(df.columns[0], axis=1)
df.tail()

,accommodates,bedrooms,city,host_id,overall_satisfaction,price,reviews,room_id,room_type,comfort
146413,1,1.0,Switzerland,11287484,5.0,26.0,214,2212768,Private room,1.0
146414,2,1.0,Switzerland,83905417,5.0,40.0,103,14022455,Private room,2.0
146415,2,1.0,Switzerland,2633489,4.5,37.0,151,535890,Private room,2.0
146416,3,1.0,Switzerland,7420695,4.5,32.0,292,1367981,Private room,3.0
146417,2,1.0,Switzerland,9047988,5.0,40.0,189,1716177,Private room,2.0

In [3]:
ct = ''
for city in df.city:
    if ct != city: print(city, len(df[df.city == city]))
    ct = city

London 30094
Los Angeles 18676
New York 23141
Paris 37202
Rome 15648
Seoul 6564
Singapore 3069
Switzerland 12024

In [4]:
test = {}

# 크롤링

In [14]:
%time # 이 코드를 돌리는데 얼마나 시간이 걸리는지 측정
for i in range(9000, 9999): # 몇 번째 room_id를 크롤링할 것인지 결정
    rid = df[df.city == 'Switzerland']['room_id'].iloc[i] # 도시명
    if i % 10 == 0: print((rid,i), '*' * 40) # 10개마다 출력
    crawler(str(rid), dic=test, prt=False)
    time.sleep(0.2) # 크롤링 대기시간
df_test = pd.DataFrame(test)
df_test.columns.name = 'room_id'
df_test.index.name = 'features'
df_test = df_test.stack().unstack('features') # row와 column 바꿈
df_test.to_csv('~/hosthome/1_data/data_new.csv', sep=',', encoding='utf-8') # 지정된 이름의 csv파일로 저장

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 9.06 µs
(13446325, 9000) ****************************************
(1616124, 9010) ****************************************
(7794795, 9020) ****************************************
(13105098, 9030) ****************************************
(5333352, 9040) ****************************************
(3957863, 9050) ****************************************
(13782723, 9060) ****************************************
(5439016, 9070) ****************************************
(5206445, 9080) ****************************************
(8964702, 9090) ****************************************
(1382370, 9100) ****************************************
(5247838, 9110) ****************************************
(660829, 9120) ****************************************
(14333310, 9130) ****************************************
(7895404, 9140) ****************************************
(3320369, 9150) ****************************************
(3019284, 9160) ****************************************
(3320446, 9170) ****************************************
(12476623, 9180) ****************************************
(14371992, 9190) ****************************************
(8038728, 9200) ****************************************
(2773824, 9210) ****************************************
(1129937, 9220) ****************************************
(16663379, 9230) ****************************************
(8136250, 9240) ****************************************
(16655706, 9250) ****************************************
(3818620, 9260) ****************************************
(1753647, 9270) ****************************************
(3635309, 9280) ****************************************
(5500929, 9290) ****************************************
(12963506, 9300) ****************************************
(17455635, 9310) ****************************************
(17075054, 9320) ****************************************
(13708262, 9330) ****************************************
(10867626, 9340) ****************************************
(5761449, 9350) ****************************************
(13895866, 9360) ****************************************
(8629363, 9370) ****************************************
(7795718, 9380) ****************************************
(7379681, 9390) ****************************************
(9954763, 9400) ****************************************
(9123684, 9410) ****************************************
(1681250, 9420) ****************************************
(7271030, 9430) ****************************************
(2220622, 9440) ****************************************
(1603308, 9450) ****************************************
(18122750, 9460) ****************************************
(8774843, 9470) ****************************************
(13043357, 9480) ****************************************
(18544880, 9490) ****************************************
(13745655, 9500) ****************************************
(13227476, 9510) ****************************************
(14144369, 9520) ****************************************
(2366765, 9530) ****************************************
(12483040, 9540) ****************************************
(12922341, 9550) ****************************************
(14393004, 9560) ****************************************
(12154597, 9570) ****************************************
(11729784, 9580) ****************************************
(14529282, 9590) ****************************************
(15128907, 9600) ****************************************
(9159541, 9610) ****************************************
(16951222, 9620) ****************************************
(6955883, 9630) ****************************************
(9539707, 9640) ****************************************
(12716746, 9650) ****************************************
(14384159, 9660) ****************************************
(7840353, 9670) ****************************************
(3460739, 9680) ****************************************
(2205974, 9690) ****************************************
(9000251, 9700) ****************************************
(7813738, 9710) ****************************************
(1133755, 9720) ****************************************
(10845736, 9730) ****************************************
(475538, 9740) ****************************************
(4510544, 9750) ****************************************
(16552364, 9760) ****************************************
(7655133, 9770) ****************************************
(15528313, 9780) ****************************************
(10745812, 9790) ****************************************
(14493115, 9800) ****************************************
(14376677, 9810) ****************************************
(16544217, 9820) ****************************************
(8748911, 9830) ****************************************
(16880260, 9840) ****************************************
(4762784, 9850) ****************************************
(13365505, 9860) ****************************************
(7970569, 9870) ****************************************
(6936641, 9880) ****************************************
(13735826, 9890) ****************************************
(446533, 9900) ****************************************
(1954136, 9910) ****************************************
(14350640, 9920) ****************************************
(12212792, 9930) ****************************************
(8434011, 9940) ****************************************
(11595154, 9950) ****************************************
(10896565, 9960) ****************************************
(9430069, 9970) ****************************************
(14851249, 9980) ****************************************
(5024159, 9990) ****************************************

In [20]:
dft = pd.read_csv('~/hosthome/1_data/data_new.csv') # 이전에 크롤링한 파일 읽어오기
dft.tail()

,room_id,Accommodates,Average stars,Bathrooms,Bed type,Bedrooms,Beds,Check In,Check Out,Cleaning Fee,...,Total reviews,Weekend Price,others,review 1,review 2,review 3,review 4,review 5,review 6,superhost
6019,9990333,5,5.0,1,NaN,1,2,NaN,NaN,NaN,...,10.0,NaN,"[Family/kid friendly, Wireless Internet, Inter...",4.5,5.0,4.5,4.5,5.0,5.0,1
6020,9992987,4,4.5,1,NaN,2,3,12PM (noon) - 9PM,1PM,NaN,...,23.0,NaN,"[Free parking on premises, Wireless Internet, ...",5.0,5.0,4.5,4.5,4.5,4.5,0
6021,9993083,2,5.0,1,NaN,1,2,Flexible,12PM (noon),₩12297,...,30.0,NaN,"[Elevator, Internet, Kitchen, Wireless Interne...",5.0,5.0,5.0,4.5,5.0,5.0,1
6022,9993436,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN,0
6023,999353,2,5.0,0.5,NaN,1,2,Anytime after 3PM,11AM,NaN,...,98.0,NaN,"[Internet, Wireless Internet, Breakfast, Dryer...",5.0,5.0,5.0,4.5,5.0,4.5,0

In [21]:
dft.count()

room_id             6024
Accommodates        5727
Average stars       5727
Bathrooms           5710
Bed type            2179
Bedrooms            5722
Beds                5727
Check In            4225
Check Out           3774
Cleaning Fee        3055
Extra people        4542
Pet Owner           1073
Property type       5727
Room type           5727
Security Deposit    1143
Self check-in        358
Total reviews       5727
Weekend Price        787
others              6024
review 1            5727
review 2            5727
review 3            5727
review 4            5727
review 5            5727
review 6            5727
superhost           6024
dtype: int64

In [10]:
df1 = pd.read_csv('~/hosthome/1_data/airbnb_seoul1.csv')

In [11]:
df1.tail()

,Unnamed: 0,room_id,Accommodates,Average stars,Bathrooms,Bed type,Bedrooms,Beds,Check In,Check Out,...,Total reviews,Weekend Price,others,review 1,review 2,review 3,review 4,review 5,review 6,superhost
5220,5994,984673,2.0,5.0,1,Real Bed,1,1.0,NaN,NaN,...,4.0,NaN,"[Free parking on premises, Internet, Wireless ...",5.0,5.0,5.0,4.5,5.0,5.0,0
5221,5995,9903543,3.0,4.5,1,Real Bed,Studio,1.0,NaN,12PM (noon),...,18.0,NaN,"[Internet, Kitchen, Wireless Internet, Hair dr...",4.5,5.0,4.5,4.5,5.0,4.5,0
5222,5996,9913709,2.0,4.5,1,Real Bed,1,1.0,Flexible,12AM (midnight),...,18.0,NaN,"[Free parking on premises, Kitchen, Wireless I...",4.5,4.5,4.5,4.5,4.5,4.5,0
5223,5997,9938305,2.0,5.0,1,Real Bed,1,1.0,Flexible,1PM,...,29.0,NaN,"[Kitchen, Internet, TV, Essentials, 4 nights m...",5.0,5.0,5.0,5.0,5.0,5.0,0
5224,5998,9951213,7.0,4.5,2,NaN,3,7.0,3PM - 1AM (next day),9AM,...,7.0,NaN,"[Internet, Wireless Internet, Family/kid frien...",4.5,5.0,4.5,4.5,5.0,4.5,1

In [23]:
df1.count()

Unnamed: 0          5225
room_id             5225
Accommodates        5225
Average stars       5225
Bathrooms           5222
Bed type             781
Bedrooms            5223
Beds                5225
Check In            4132
Check Out           3946
Cleaning Fee        3813
Extra people        4668
Pet Owner            244
Property type       5225
Room type           5225
Security Deposit    2243
Self check-in        600
Total reviews       5225
Weekend Price        684
others              5225
review 1            5225
review 2            5225
review 3            5225
review 4            5225
review 5            5225
review 6            5225
superhost           5225
dtype: int64

In [24]:
df_seoul = pd.read_csv('~/hosthome/1_data/seoul5000.csv')

In [25]:
df_seoul.count()

room_id             5000
Accommodates        4575
Average stars       2960
Bathrooms           4574
Bed type             568
Bedrooms            4574
Beds                4575
Check In            4092
Check Out           3788
Cleaning Fee        2955
Extra people        3894
Pet Owner             54
Property type       4575
Room type           4575
Security Deposit    1938
Self check-in       1518
Total reviews       2960
Weekend Price       2169
others              5000
review 1            2960
review 2            2960
review 3            2960
review 4            2960
review 5            2960
review 6            2960
superhost           5000
dtype: int64

In [26]:
df_final = pd.concat([dft, df2, df_seoul])
df_final.count()

Accommodates        21254
Average stars       19639
Bathrooms           21216
Bed type             5707
Bedrooms            21241
Beds                21254
Check In            16674
Check Out           15282
Cleaning Fee        12878
Extra people        17646
Pet Owner            2444
Property type       21254
Room type           21254
Security Deposit     6467
Self check-in        2834
Total reviews       19639
Unnamed: 0           5225
Weekend Price        4427
others              22273
review 1            19639
review 2            19639
review 3            19639
review 4            19639
review 5            19639
review 6            19639
room_id             22273
superhost           22273
dtype: int64

In [18]:
df_final.count()

Accommodates        16177
Average stars       16177
Bathrooms           16154
Bed type             3741
Bedrooms            16168
Beds                16177
Check In            12489
Check Out           11666
Cleaning Fee        10681
Extra people        13878
Pet Owner            1561
Property type       16177
Room type           16177
Security Deposit     5629
Self check-in        1558
Total reviews       16177
Unnamed: 0          10450
Weekend Price        2155
others              16474
review 1            16177
review 2            16177
review 3            16177
review 4            16177
review 5            16177
review 6            16177
room_id             16474
superhost           16474
dtype: int64

In [27]:
df_final.duplicated(['room_id'])

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
4970    False
4971    False
4972    False
4973    False
4974    False
4975    False
4976    False
4977    False
4978    False
4979    False
4980    False
4981    False
4982    False
4983    False
4984    False
4985    False
4986    False
4987    False
4988    False
4989    False
4990    False
4991    False
4992    False
4993    False
4994    False
4995    False
4996    False
4997    False
4998    False
4999    False
dtype: bool

In [29]:
df_final.to_csv('~/hosthome/1_data/cdata.csv')